.summary {
    position: relative;
    padding-bottom: 1.25rem;
    font-size: 0;
}

/*summary top*/
.summaryTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}

.summaryTop .genre, .summaryTop .regDate, .summaryTop .view {
    display: inline-block;
    margin-bottom: 0.1rem;
    width: 100%;
    color: #666;
}

.summaryTop .genreText, .summaryTop .regDateText, .summaryTop .viewText {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
}

.summaryTop .prdTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2; /*텍스트 2줄로 제한*/
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /*텍스트가 넘어가면 ...으로*/
    overflow: hidden;

    font-size: 1.3rem;
    font-weight: bold;
    line-height: 130%;
}

.summaryTopLeft {
    width: 38rem;
}

.summaryTopRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

/*summary body*/
.summaryBody {
    display: flex;
    flex-direction: row;
}
    /*posterBox*/
.summaryBody .posterBox {
    display: inline-block;
    width: 15rem;
}

.posterBox .posterBoxTop {
    background-color: #f0f0f0;
    position: relative;
    height: 20rem;
}

.posterBox .posterBoxImage {
    display: block;
    box-sizing: border-box;
    border: 0.08rem solid #dadee3;

    width: 100%;
    height: 100%;
}

.posterBox .posterBoxBottom {
    margin-top: 0.7rem;
    font-size: 0;
}

.posterBox .prdCast {
    float: left;
    margin-top: 0.1rem;
    font-size: 0;
}

.prdCast .prdCastWrap {
    display: inline-block;
}

.prdCast .prdCastBtn {
    position: relative;
    display: inline-block;
    line-height: 1.3rem;

    font-size: 0.9rem;
    font-weight: inherit;

    cursor: pointer;
}

.prdCast .prdCastBtn::before { /*좋아요 하트*/
    background-image: url('//openimage.interpark.com/ticket-desktop/pages/product/icon_heart.png');
    background-repeat: no-repeat;
    background-position: 0 0;

    position: relative;
    display: inline-block;
    top: 0.15rem;
    padding-right: 0.4rem;

    width: 1rem;
    height: 0.9rem;

    content: '';
}

.prdCast .prdCastBtn.is-toggled::before { /*하트 선택됨*/
    background-position: 0 -0.9rem;
}

.prdCast .prdCastNum {
    display: inline-block;

    font-size: 0.9rem;
    font-weight: bold;

    margin-left: 0.3rem;
}

    /*info*/
.summaryBody .info {
    display: inline-block;
    vertical-align: top;

    margin-top: 0.3rem;
    width: 20rem;
}

.summaryBody .info .infoItem {
    margin-top: 1.3rem;
    padding-left: 1.5rem;
    font-size: 0;
}

.info .infoItem .is-place {
    font-weight: bold;
}

.summaryBody .info .infoItem:first-child {
    margin-top: 0;
    line-height: 1.3rem;
}

.summaryBody .info .infoLabel {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    line-height: 160%;
    padding-right: 0.3rem;
    width: 6rem;

    color: #5e5e5e;
    font-size: 1rem;
    font-weight: bold;
}

.summaryBody .info .infoDesc {
    display: inline-block;
    max-width: 23rem;
    vertical-align: top;
}

.summaryBody .info .infoText {
    position: relative;
    line-height: 160%;
    max-width: 23rem;

    color: #000;
    font-size: 1rem;
}

.infoBox {
    width: 20rem;
    margin-left: 3rem;
}

/* 예약 버튼 */
.btnList {
    width: 18.5rem;
    margin-left: 1.5rem;
    z-index: 99;
    position: relative;
}

.bookingBtn {
    display: table;
    box-sizing: border-box;

    width: 18.5rem;
    height: 4rem;
    padding: 0 1rem;
    
    text-align: center;
}

.is-main .bookingBtn {
    margin-top: 2rem;

    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;

    background-color: #5693e0;
    border: 0.08rem solid #5693e0;
    border-radius: 0.6rem;
}

.btnList:hover .is-main .bookingBtn {
    border-radius: 0.6rem 0.6rem 0 0;
}

.is-direct .bookingBtn {
    font-size: 1rem;
    font-weight: normal;
    color: #000;

    background-color: #fff;
    border: 0.08rem solid #7fa9dd;
    border-top: none;

    display: none;

    position: absolute;
    left: 0;
}

/* absolute를 위한 높이 조정 */
.is-direct:nth-child(3) .bookingBtn {
    top: calc(4rem * 2);
}
.is-direct:nth-child(4) .bookingBtn {
    top: calc(4rem * 3);
}
.is-direct:nth-child(5) .bookingBtn {
    top: calc(4rem * 4);
}
/**/

.is-direct .bookingBtn:hover {
    background-color: #deecfd;
}

li.is-direct:last-child > .bookingBtn {
    border-radius: 0 0 0.6rem 0.6rem;
}

.btnList:hover .is-direct .bookingBtn {
    display: table;
}

.bookingBtn > span {
    display: table-cell;
    height: 100%;

    vertical-align: middle;
    text-align: center;
    line-height: 120%;
}