div {
    /*border: 1px solid black;*/
}

#region-mainContainer {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#region-mainContainer .contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 1rem;
    border: 0.08rem solid rgb(230, 228, 228);

    box-shadow: 0.15rem 0.15rem 0.15rem rgba(198, 198, 198, 0.699);

    width: 70rem;
    height: 35rem;
    margin: 0 auto;
}

/**/
.leftBox {
    display: flex;
    flex-direction: column;

    margin-top: 2.5rem;
    margin-left: 2.5rem;

    position: relative;
    width: 22.5rem;
    height: 30rem;
}

.leftBoxTop {
    width: 100%;
    height: 5rem;

    display: flex;
    align-items: center;
}

.leftBoxTop .regionTitle {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

.leftBoxBottom {
    position: relative;
    width: 100%;
    height: 25rem;
}

.leftBoxBottom .mapImg {
    width: 100%;
    height: 100%;
}


/**/
.rightBox {
    margin-top: 2.5rem;
    margin-right: 2.5rem;

    position: relative;
    width: 40rem;
    height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightBoxTop {
    width: 100%;
    max-width: 40rem;
    height: 26rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.rightBoxTop a {
    position: relative;
    border-radius: 0.5rem;
    max-width: 12rem;
}

.rightBoxTop a:hover {
    background-color: rgb(230, 228, 228);
}

.rightBoxTop .no_result {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.rightBoxTop .wrapBox {
    position: relative;
    max-width: 12rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    border: 0.08rem solid rgb(230, 228, 228);
}

.rightBoxTop .posterImg {
    position: relative;
    width: 6rem;
    height: 8rem;
    border-radius: 0.5rem;
    border: 0.08rem solid gray;
}

.rightBoxTop .posterImg img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.rightBoxTop .textWrap {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightBoxTop .posterTitle {
    width: calc(100% - 2rem);
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1rem;
}

.rightBoxTop .posterDate {
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;

    font-size: 0.8rem;
}

/**/
.rightBoxBottom {
    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: right;
    align-items: baseline;
}

.regionGoBtn {
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 1rem;
}



