#contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.maintop {
    width : 100%;
    display: flex;
    justify-content: center;
}
.ticket-region {
    margin-top: 20px;
}
/* .ticket-month {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
} */
.ticket-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}