#contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.maintop {
    width : 100%;
    display: flex;
    justify-content: center;
}
.openticket {
    display: flex;
    flex-direction: column;
    align-items: center; 
}