.openticket-month {
    display: flex;
    align-items: center;
    justify-content: center;
}
.openticket-month .month {
    font-size : 40px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}
.openticket-month .month :hover {
    color: #1774e6;
}
.openticket-month button {
    width : 60px;
    height : 30px;
}
.openticket-month button:hover {
    color: #1774e6;
}
.by-site {
    display: flex;
    gap : 20px;
    align-items: center;
    justify-content: center;
}
.by-site div {
    border: 1px solid #aaa;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
}
.by-site div.active {
    border :inherit;
    background-color: #1774e6;
    color: white;
}
/* .controll-list {
    margin-left:20px;
    justify-content: center;
    width : 1310px;
}
.view-type button {
    width : 36px;
    height : 36px;
}
.view-type {
    float: left;
}
.view-sort {
    float : right;
}
.view-sort li{
    display: inline;
    align-items: center; 
    justify-content: center;
    padding: 0 10px 0 10px;
}
.view-sort li:not(:last-child) {
    border-right: 1px solid #ccc;
} */
.openticket-arrange {
    display : flex;
    flex-wrap: wrap;
    width : 1100px;
    margin-top : 20px;
}
@media screen and (min-width: 1001px) and (max-width : 1300px) {
    .openticket-arrange {
        display : flex;
        flex-wrap: wrap;
        width : 900px;
        margin-top : 20px;
    }
}
@media screen and (max-width: 1000px) {
    .openticket-arrange {
        display : flex;
        flex-wrap: wrap;
        width : 650px;
        margin-top : 20px;
    }
}
.openticket {
    width : 200px;
    height : 375px;
    margin : 0 auto 20px;
    cursor: pointer;
}
.openticket-img {
    width : 191px;
    height : 254px;
    border : 1px solid #000;
    border-radius: 10px;
}
.openticket-info {
    margin-top: 10px;
    width : 180px;
}
.openticket-info .title {
    margin-top : 5px;
    font-weight: 700;
    font-size: 17px;
}
.openticket-info .day {
    margin-top : 5px;
}
.open-Timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
    padding: 0;
    border-radius: 4px;
}
.Timer-banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: .2rem .6rem;
    border-radius: 4px 0 0 4px;
    color : white;
    background: #1774e6;
}
.Timer-day {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: .05rem .6rem;
    color: #1774e6;
    gap: 1rem;
    background: #fff;
    border: 1px solid  #1774e6;
    border-left-width: 0;
    border-radius: 0 4px 4px 0;
}
.ot-info-bot {
   
}
.ot-info-bot .day {
    float: left;
}
.ot-info-bot .tic-site {
    float: right;
    width : 30px;
    height : 30px;
}
.tic-site img {
    width : 100%;
    height : 100%;
    border-radius: 10px;
}