#search-content {
    display: flex;
    justify-content: center;
    align-items: center; 
}
@media (max-width: 1100px) and (min-width: 660px) {
    #search-content {
        padding-top: 110px;
        margin-bottom: 40px;
    }
}
/* 스마트폰(min: 250, 아래는 무시) */
@media (max-width: 660px) {
    #search-content {
        padding-top: 75px;
        margin-bottom: 40px;
    }
}

.search-container {
    display: flex;
}

/*search-side*/
.search-side {
    position: relative;
    width: 23rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding-bottom: 0.75rem;
}

.search-side .stickyWrap {
    /*position: sticky;*/
    top: 1rem;

    width: 21.6rem;
    height: auto;

    margin: 0.6rem 0 0 1.2rem;
    /*z-index: ;*/
}

/*tickets*/
.tickets{
    width : 1000px;
}

/* 필터: 사이드 */
@media (min-width: 1401px) {
    .search-container {
        flex-direction: row;
    }

    .tickets{
        margin-top : 40px;
    }
}

/* 필터: 상단 */
@media (max-width: 1400px) and (min-width: 1100px) {
    .search-container {
        flex-direction: column;
    }

    .tickets{
        margin-top : 10px;
    }
}

/* 필터: 헤더 */
@media (max-width: 1100px) {
    .search-container {
        flex-direction: column;
    }

    .tickets{
        margin-top : 30px;
    }
}
