.productMainBody {
    position: relative;
}

/*navigation bar*/
.nav {
    position: sticky;
    display: block;
    top: 0;
    z-index: 5;
}

.nav ul , .nav li {
    list-style: none;
}

.nav .navList {
    font-size: 0;
    border-bottom: 0.08rem solid #b6bdc7;
    background-color: #fff;
}

.nav .navItem {
    position: relative;
    display: inline-block;
    line-height: 1.6rem;
    white-space: nowrap;

    color: #666;
    font-size: 1rem;
    font-weight: bold;
}

.nav .navItem.is-active {
    color: #000;
}

.nav .navItem + .navItem {
    margin-left: 1.125rem;
}

.nav .navItem::before {
    display: none;
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: #333;
    content: '';
}

.nav .navItem.is-active::before {
    display: block;
}

.nav .navLink {
    display: block;
    padding: 1rem 0.6rem;
}

.nav .countNum {
    font-weight: normal;
}

.nav .countNum::before {
    content: '\0028';
    display: inline;
}

.nav .countNum::after {
    content: '\0029';
    display: inline;
}

/*content*/
.prdContents {
    padding-top: 3.75rem;
    padding-bottom: 5.6rem;
}