@import './detailFont.css';

/*공통 css*/
html, body, div, h2, h3, span, p, ul {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 100%;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-style: normal;
}

a[role='button'] {
    cursor: pointer;
}

.blind {
    display: none;
}

/*container*/
#container {
    position: relative;
    width: 100%;
}

.contents {
    margin: 0 auto;
}

.productWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

/* 모바일 헤더 반응형 */
@media (max-width: 1100px) {
    #container {
        margin-top: 40px; /* 모바일 헤더가 fixed라 height만큼 내리기 */
    }
}

/* contents 반응형 */
@media (min-width: 1120px) {
    .contents {
        width: 70rem;
    }
}
@media (max-width: 1120px) and (min-width: 960px) {
    .contents{
        width: 960px;
    }
}

@media (max-width: 960px) {
    .contents{
        width: 100%;
    }
}