.swiper {
    padding-top : 10px !important;
}
.swiper-wrapper {
    position: absolute;
    margin-left: -60px;
}
.swiper-slide {
    width : 254px !important;
    height : 318px !important;
    border : 1px solid #000;
    margin-right : 15px !important;
    background-color: blue;
}

.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next {
    background-color: black;
    color: white; /* 텍스트 색상을 변경하려면 추가 */
}
