.mypage {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
@media (min-width: 1100px) {
    .mypage {
        margin-bottom: 100px;
    }
}
@media (max-width: 1100px) {
    .mypage {
        padding: 30px;
        padding-top: 0;
        margin-top: 40px;
        margin-bottom: 150px;
    }
}

.mypage-con {
    display: flex; 
    justify-content: center; 
    margin: 30px auto; 
    width: 100%;
    max-width: 900px; 
    height : 150px;
    border: 1px solid #dddddd;
    background: #fafafa;
}

.mypage-info {
    width: 50%;
    background: white;
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    padding: 10px;
}
.mypage-info .mypage-email {
    margin-bottom: 10px; 
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 10px;
}
.mypage-info .mypage-btn {
    display: flex; /* Flexbox 사용 */
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */
}
.mypage-info button {
    border: 1px solid #dddddd;
    background-color: white;
    font-size: 15px;
    margin-left: 10px; /* 버튼 간의 간격 */
}

.mypage-choice {
    width: 25%;
    margin: auto;
    border-right : 1px solid #c5c5c5;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.mypage-choice .choice-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.mypage-choice .choice-number {
    font-size : 30px;
    font-weight: bold;
}

.mypage-call {
    width: 25%;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.mypage-call .call-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.mypage-call .call-number {
    font-size : 30px;
    font-weight: bold;
}

.list-button-con {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #dddddd;
    border-radius: 30px; 
    width: 100%;
    padding: 0;
}
.choice-btn, .call-btn {
    border: 3px solid transparent; 
    border-radius: 30px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 0; 
    z-index: 1; 
}
.choice-btn {
    margin-right: -10px; 
}
.choice-btn.active {
    border-color: #575757;
    font-weight: 600;
}
.call-btn.active {
    border-color: #575757;
    font-weight: 600;
}

.cc-list {
    margin-top : 20px;
    border: 1px solid #dddddd;
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height : 100px; 
}

.choice-list {
    position: relative;
    width: 100%;
}

.choice-ticket {
    display: flex;
    justify-content: space-between; /* 좌우 여백을 균등하게 */
    align-items: center;
    padding: 30px;
    width: calc(100% - 60px);
    border-bottom: 1px solid #dddddd;
}

.choice-ticket:last-child {
    border-bottom: none;
}

.choice-ticket-a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-decoration: none; /* 링크 텍스트 장식 제거 */
}

.cho-img {
    position: relative;
    width: 120px;
    height: 170px;
    border: 1px solid #000;
}

.cho-img img {
    width: 100%;
    height: 100%;
}

.cho-info {
    margin-left: 15px;
    width: 65%;
}

.choice-ticket-a:hover .cho-info-title {
    color: #0368e5;
}

.cho-info-title {
    font-size: 1.3rem;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.cho-info-pre-open, .cho-info-open, .cho-info-performance, .cho-info-region {
    font-size: 1rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
}

.cho-info-site-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.cho-info-site {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 10px;
}

.cho-info-site img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.call-cho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto; /* 버튼 컨테이너 폭을 자동으로 설정 */
}

.cho-tic-call, .cho-tic-cho {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.cho-tic-call img, .cho-tic-cho img {
    width: 100%;
    height: 100%;
}


.call-ticket {
    display: flex;
    margin: 30px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}
.call-img {
    width : 120px;
    height : 170px;
    border : 1px solid #000;
}
.call-info {
    margin-left : 15px;
    width : 60%;
    border-right: 1px solid #dddddd;
}
.call-info-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.call-info-open {
    font-size: 20px;
    margin-bottom: 8px;
}
.call-option {
    margin-left: 10px;
    height: 100%;
    width : 300px;
}
.option-call-btn {
    width : 30px;
    height : 30px;
    border: 1px solid #000;
    border-radius: 10px;
}
.call-delete {
    cursor: pointer;
    font-size : 19px;
    font-weight: bold;
    color : #dddddd;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 220px;
    z-index: 150;
    font-size : 20px;
}
.modal-content input {
    border-radius: 20px;
    height : 20px;
    font-size: 18px;
}
.modal-content h2 {
    margin: 0 0 10px;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 15px;
}
.password-input {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input input {
    flex: 1;
}
.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}