@import './filterFont.css';

.filter {
    width: 21rem;
    margin: 0 auto;
    border: 0.08rem solid #b6bdc7;
    border-radius: 1rem;
}

/*filterContainer*/
.filterContainer:first-child {
    border-top: none;
    padding-top: 0.15rem;
}

.filterContainer:last-child {
    padding-bottom: 1.5rem;
}

.filterContainer {
    position: relative;
    padding-bottom: 0.8rem;
    border-top: 0.08rem solid #dadee3;
    box-sizing: border-box;
}

/*filterHeader*/
.filterHeader {
    padding: 1.0rem 1.25rem 0;
    width: 18.5rem;
    margin: 0 auto;

}

/*filterToggleBtn*/
.filterToggleBtn {
    cursor: pointer;
}
.filterToggleBtn::after {
    background-image: url('//openimage.interpark.com/ticket-desktop/pages/product/icon_sideToggle.png');
    background-repeat: no-repeat;

    position: absolute;
    top: 1.4rem;
    right: 1.25rem;

    width: 0.96rem;
    height: 0.54rem;
    background-size: 100%;
    content: '';
} /*토글 버튼*/

.is-toggled .filterToggleBtn::after{
    background-position: 0 -0.54rem;
}

/*filterTitle*/
.filterTitle {
    font-size: 0.9rem;
    font-weight: bold;

    width: 20rem;
    margin: 0 auto;
}

.is-toggled .filterTitle {
    color: #999;
    transform: scale(0.85);
    transform-origin: 0% 0%;
    font-weight: normal;
}

.selectedData {
    display: none;
    font-size: 0.99rem;
    font-weight: bold;
    line-height: 120%;
}

.is-toggled .selectedData {
    display: block;
}

/*menu btn*/
.filterMenu {
    padding: 1.0rem 1.25rem 0;
    width: 18.5rem;
    margin: 0 auto;
}

.filterMenu .filterBtn {
    cursor: pointer;
    font-size: normal;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    border: 0.08rem solid #e8e8e8;

    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 0 0.75rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    font-size: 0.8rem;
    color: #666;
}
.filterMenu .filterBtn.is-active {
    background-color: #b9d8ff;
    color: #0368e5;
    border-color: #0368e5;
}

.is-toggled .filterMenu {
    display: none;
}

/*Calendar*/
.is-toggled .Calendar {
    display: none;
}

/* submit, reset 버튼 */
.filterBtnsWrap {
    width: 21rem;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.search-f-reset-btn, .search-f-submit-btn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.9rem;
    width: 10rem;
    height: 3rem;
    border: 0.08rem solid #a4a4a4;
    border-radius: 0.5rem;
    cursor: pointer;
}
.search-f-reset-btn {
    background-color: #fff;
    margin-right: 0.5rem;
}
.search-f-submit-btn {
    background-color: #5693e0;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1400px) and (min-width: 1100px) {
    .filterWrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 850px;
        gap: 4px 8px;
        margin-top: 20px;
        padding: 0 5px;
    }

    .s-filter-btn {
        position: relative;
        display: flex;
        height: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 13px;
        gap: 4px;
        border-radius: 25px;
        color: #000;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 150%;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .s-filter-btn.is-active {
        color: #0368e5;
    }

    .filter {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #fff;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .3);
        z-index: 99;
    }

    .filter.is-invisible {
        display: none;
    }

    .filterTitle {
        font-size: 1.1rem !important;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .search-f-reset-btn, .search-f-submit-btn {
        font-size: 0.8rem !important;
        line-height: 150% !important;
        width: 5rem !important;
        height: 2rem !important;
        border-radius: 0.5rem !important;
    }
}