ul {
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1001px) {
  .App-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
  }
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .logo-img {
    width : 100px;
    height : auto;
  }
  .h-t-logo-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    height: 50px;
    padding: 0;
    gap: 40px;
    margin-right: 20px;
  }

  .header-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 452px;
  }
  .search-form {
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
  }
  .search-form input{
    height: 18px;
    flex: 1;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    /* font-size: 15px; */
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #111;
    border: none;
    outline: none;
    width: 100%;
  }
  .search-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 16px 0 0;
    padding: 0;
  }
  
  .header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
  }
  
  .h-b-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 0;
    gap: 20px;
    width: 100%;
    max-width: 1280px;
  }
  .h-b-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    padding: 0;
    gap : 0;
    border-radius: 6px;
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
  }
  .h-b-menu li {
    display: flex;
    align-items: center;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-right : 20px;
    position: relative;
  }
  .h-b-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px; 
    height: 2px;
    background-color: #000;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  .h-b-menu li:hover::after, .h-b-menu ul li.active::after {
    opacity: 1;
  }
  .menu-img {
    display: none;
  }
}
/*--------768px 미만------------*/
@media screen and (max-width: 1000px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
  .h-t-logo-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left : 16px;
    margin-top : 10px;
  }
  .logo-img {
    width: 80px; /* 조정할 수 있음 */
    height: auto;
  }
  .header-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-left : 10px;
  }
  .search-form {
    width: 98%;
    height: 40px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
  }
  .search-form input{
    height: 18px;
    flex: 1;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #111;
    border: none;
    outline: none;
    width: 100%;
  }
  .search-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 16px 0 0;
    padding: 0;
  }
  .header-bottom {
    display: flex;
    justify-content: center;
    margin-top : 20px;
  }

  .h-b-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0;
    gap : 30px;
    white-space: nowrap;
    list-style-type: none;
  }
  .h-b-menu li {
    display: flex;
    flex-direction: column;
    width : 80px;
    height : 80px;
    border : 1px solid #000;
    align-items: center;
  }
  .h-b-menu .menu-img {
    height: 50px;
  }
  .h-b-menu .menu-img img {
    height: 50px;
    width: auto;
  }
  .h-b-menu .menu-title {
    text-decoration-line: none;
    color : black;
  }
}