@media screen and (min-width: 1001px) {
  .maintop-con {
    margin-top : 40px;
    width: 1400px;
    height: 100%;
  }
  .maintop-con-sw {
    width: 100%;
    height: 100%;
  }
  .maintop-con-sw .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* .maintop-con-sw .swiper-slide :hover {
    background-color: #000;
    color : white;
  }  */
  .maintop-con-sw .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 42%);
    width: calc(var(--swiper-navigation-size) / 44 * 90);
    margin-left : 30px;
    opacity: 0.5;
    background-color: #1774e6;
    border-radius: 30px;
    width: 60px;
    height: 60px;
  }
  .maintop-con-sw .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 42%);
    width: calc(var(--swiper-navigation-size) / 44 * 90);
    margin-right : 30px;
    opacity: 0.5;
    background-color: #1774e6;
    border-radius: 30px;
    width: 60px;
    height: 60px;
  }
  .poster {
    height : 410px;
    width : 270px;
  }
  .poster-img{
    width : 256px;
    height : 320px;
    margin : 10px 7px;
    border-radius: 10px;
    overflow: hidden;
    z-index : 1;
  }
  .poster-img img {
    width: 100%;
    height: 100%;
  }
  .poster-info{
    width : 256px;
    height : 80px;
    margin : 0 7px;
    z-index : 1;
  }
  .poster-info-cl {
    display: none;
  }
  .poster-info-title {
    font-size : 20px;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .poster-info-day {
    font-size: 20px;
  }
  /* .maintop-con-sw .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   */
}
/* -----------1001px이상1500px이하-------------- */
/* @media screen and (min-width: 1001px) and (max-width: 1500px){

} */
/* -----------1000xp이하500px이상-------------- */
@media screen and (max-width: 1000px) and (min-width: 650px) {
  .maintop-con {
    height : 853px;
    width : 640px;
    border-radius: 10px;
    overflow: hidden;
    margin-top : 20px;
  }
  .maintop-con-sw {
    width: 100%;
    height: 100%;
  }
  .maintop-con-sw .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster {
    height : 853px;
    width : 640px;
    position: relative;
  }
  .poster-img{
    width : 100%;
    height : 100%;
    border-radius: 10px;
    position: absolute;
  }
  .poster-img img {
    width: 100%;
    height: 100%;
  }
  .poster-info{
    width : 256px;
    height : 80px;
    margin : 0 7px;
    z-index : 1;
  }
  .poster-info-cl {
    display: none;
  }
  .poster-info-title {
    font-size : 20px;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .poster-info-day {
    font-size: 20px;
  }
}
/* --------500이하----------- */
@media screen and (max-width: 650px) {
  .maintop-con {
    height : 427px;
    width : 320px;
    border-radius: 10px;
    overflow: hidden;
    margin-top : 20px;
  }
  .maintop-con-sw {
    width: 100%;
    height: 100%;
  }
  .maintop-con-sw .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster {
    height : 427px;
    width : 320px;
    position: relative;
  }
  .poster-img{
    height : 100%;
    width : 100%;
    border-radius: 10px;
    position: absolute;
  }
  .poster-img img {
    width: 100%;
    height: 100%;
  }
  .poster-info{
    width : 256px;
    height : 80px;
    margin : 0 7px;
    z-index : 1;
  }
  .poster-info-cl {
    display: none;
  }
  .poster-info-title {
    font-size : 20px;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .poster-info-day {
    font-size: 20px;
  }
}