.productSide {
    position: relative;
    width: 23rem;
    margin-top: 3rem;
    padding-bottom: 0.75rem;
}

.productSide .stickyWrap {
    position: sticky;
    top: 0.6rem;

    width: 21.6rem;
    height: auto;

    margin: 0.6rem 0 0 1.2rem;
    /*z-index: ;*/
}