.by-site {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.by-site div {
    border: 1px solid #aaa;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px 10px;
    cursor: pointer;
}

.by-site div.active {
    border: inherit;
    background-color: #1774e6;
    color: white;
}

.by-site :hover {
    background-color: #1774e6;
    color: white;
}

.openticket-arrange {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 20px;
}

/* 미디어 쿼리 추가 */
@media (min-width: 1100px) {
    .openticket-arrange {
        width : 1100px;
    }
    .site-logo {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .site-logo img {
        width: 60px;
        height: auto; 
        cursor: pointer;
        border-radius: 30px;
    }    
}

@media (max-width: 1100px) and (min-width: 650px) {
    .openticket-arrange {
        width : 650px;
    }
    .site-logo {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .site-logo img {
        width: 50px;
        height: auto; 
        cursor: pointer;
        border-radius: 30px;
    }    
}
@media (max-width: 650px) {
    .by-site {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        right : 20px;
    }
    .openticket-arrange {
        width : 500px;
    }
    .site-logo {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .site-logo img {
        width: 20px;
        height: auto; 
        cursor: pointer;
        border-radius: 30px;
    }
    
}
